html,
body,
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
  color: rgb(6, 37, 77);
}
.parent {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 80px auto;
  box-sizing: border-box;
}
.child {
  box-sizing: border-box;
  margin: 20px auto;
  border: 1px solid turquoise;
  border-radius: 15px;
  justify-content: space-between;
  width: 29%;
  text-align: center;
  font-size: 3rem;
  box-shadow: 2rem 2rem 5rem rgb(14, 72, 199);
}
.main-header {
  font-size: xxx-large;
  color: darkgoldenrod;
  position: relative;
  text-align: center;
}
.bama-img {
  width: 310px;
  margin-top: auto;
  margin-bottom: auto;
  top: 4rem;
  left: 65%;
  z-index: 2;
}
.georgia-img {
  width: 375px;
  top: 13rem;
  left: 6rem;
  z-index: 50;
}
.pennstate-img {
  width: 350px;
  top: 20rem;
  right: -20rem;
  z-index: 50;
}
.sooners-img {
  width: 370px;
}
.buckeyes-img {
  width: 335px;
}
.razorbacks-img {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}
.irish-img {
  width: 300px;
}
.aggies-img {
  width: 350px;
}
.mountaineers-img {
  width: 300px;
}

.child-1:hover {
  position: relative;
  transform: scale(1.1);
  outline: 1rem solid rgb(8, 223, 169);
}
.child-2:hover {
  position: relative;
  transform: skew(5deg);
  outline: 1rem solid rgb(8, 223, 169);
}
.child-3:hover {
  position: relative;
  transform: scale();
  opacity: 0.3;
  outline: 1rem solid rgb(8, 223, 169);
}
.child-4:hover {
  position: relative;
  transform: rotate(90deg);
  outline: 1rem solid rgb(8, 223, 169);
}
.child-5:hover {
  position: relative;
  transform: rotate(-90deg);
  outline: 1rem solid rgb(8, 223, 169);
}
.child-6:hover {
  position: relative;
  transform: translate(10px, 15px);
}
.child-7:hover {
  position: relative;
  transform: rotate(180deg);
}
.child-8:hover {
  position: relative;
  transform: skew(-5deg);
  outline: 1rem solid rgb(8, 223, 169);
}
.child-9:hover {
  position: relative;
  transform: translate(-10px, -15px);
}
body {
  background-image: url(img/college\ football\ cartoon.png);
  background-attachment: fixed;
  width: 100%;
}
.button {
  font-size: 6rem;
}

@media screen and (max-width: 375px) {
  .parent {
    width: 200vw;
    height: 150vw;
  }
}

@media screen and (max-width: 375px) {
  .bama-img {
    width: 50vw;
  }
}

@media screen and (max-width: 375px) {
  .georgia-img {
    width: 55vw;
  }
}

@media screen and (max-width: 375px) {
  .pennstate-img {
    width: 55vw;
  }
}

@media screen and (max-width: 375px) {
  .sooners-img {
    width: 60vw;
  }
}

@media screen and (max-width: 375px) {
  .buckeyes-img {
    width: 55vw;
  }
}

@media screen and (max-width: 375px) {
  .razorbacks-img {
    width: 57vw;
  }
}

@media screen and (max-width: 375px) {
  .irish-img {
    width: 55vw;
  }
}

@media screen and (max-width: 375px) {
  .aggies-img {
    width: 59vw;
  }
}

@media screen and (max-width: 375px) {
  .mountaineers-img {
    width: 55vw;
  }
}

@media screen and (max-width: 768px) {
  .parent {
    width: 200vw;
    height: 70vw;
  }
}

@media screen and (max-width: 768px) {
  .bama-img {
    width: 40vw;
  }
}

@media screen and (max-width: 768px) {
  .georgia-img {
    width: 65vw;
  }
}

@media screen and (max-width: 768px) {
  .pennstate-img {
    width: 37vw;
  }
}

@media screen and (max-width: 768px) {
  .sooners-img {
    width: 45vw;
  }
}

@media screen and (max-width: 768px) {
  .buckeyes-img {
    width: 45vw;
  }
}

@media screen and (max-width: 768px) {
  .razorbacks-img {
    width: 77vw;
  }
}

@media screen and (max-width: 768px) {
  .irish-img {
    width: 43vw;
  }
}

@media screen and (max-width: 768px) {
  .aggies-img {
    width: 53vw;
  }
}

@media screen and (max-width: 768px) {
  .mountaineers-img {
    width: 47vw;
  }
}

@media screen and (max-width: 1024px) {
  .parent {
    width: 200vw;
    height: 70vw;
  }
}

@media screen and (max-width: 1024px) {
  .bama-img {
    width: 43vw;
  }
}

@media screen and (max-width: 1024px) {
  .georgia-img {
    width: 45vw;
  }
}

@media screen and (max-width: 1024px) {
  .pennstate-img {
    width: 55vw;
  }
}

@media screen and (max-width: 1024px) {
  .sooners-img {
    width: 60vw;
  }
}

@media screen and (max-width: 1024px) {
  .buckeyes-img {
    width: 55vw;
  }
}

@media screen and (max-width: 1024px) {
  .razorbacks-img {
    width: 57vw;
  }
}

@media screen and (max-width: 1024px) {
  .irish-img {
    width: 55vw;
  }
}

@media screen and (max-width: 1024px) {
  .aggies-img {
    width: 59vw;
  }
}

@media screen and (max-width: 1024px) {
  .mountaineers-img {
    width: 55vw;
  }
}

@keyframes picturebounce {
  0% {
    transform: scaleY(0.75);
  }
  10% {
    transform: scaleY(1);
    transform: translate(2rem, 1rem);
  }
  60% {
    transform: rotate(5deg);
  }
  95% {
  }
  100% {
  }
}

a:link {
  font-size: 7rem;
  color: blue;
}
a:visited {
  font-size: 7rem;
  color: purple;
}
a:active {
  font-size: 7rem;
  color: red;
}
